APP_URL=
FIREBASE_API_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT=
GEMINI_API_KEY=
MODERATION_FUNCTION_URL=
SMTP_FROM=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=
SUPABASE_ANON_KEY=
SUPABASE_KEY=
SUPABASE_PROJECT_ID=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=
SUPABASE_URL=
TWILIO_AUTH_TOKEN=
VERIFICATION_FUNCTION_URL=
